button,
[type=button],
[type=reset],
[type=submit] {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
}

.btnA {
    height: 55px;
    padding-left: 46px;
    padding-right: 46px;

    &.bg-212121-btn {
        background-color: $color-212121;
        color: $white;

        &:hover {
            background-color: $color-212121;
            color: $white;
        }
    }

    &:hover {
        .btn-arrow {
            transform: translateX(6px);
            opacity: 1;
        }
    }

}

.btn-arrow {
    width: 20px;
    transform: translateX(-20px);
    opacity: 0;
}